# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils


# block content
  <div class="page-header">
    <h1>
      {{utils.back_link('Back', 'welcome', hash='people')}}
      {{title}}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="lead">
        {{utils.render_md(member_db.about, 'member-about')}}
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-responsive img-thumbnail member-photo" src="{{member_db.image_url}}=s512-c" alt="{{member_db.name}} photo">
    </div>
  </div>
# endblock
