.song {
  .song-lyrics {

    &.collapsed {
      max-height: @song-lyrics-height;
      overflow: hidden;
      position: relative;
      &::before {
        #gradient > .vertical(transparent, #fff);
        content: '';
        position: absolute;
        width: 100%;
        height: @song-lyrics-shadow;
        top: @song-lyrics-height - @song-lyrics-shadow;
        pointer-events: none;
      }
    }
  }
}
