# extends 'base.html'
# import 'macro/utils.html' as utils

# block header
  <div class="jumbotron">
    <div class="container text-center">
      <img class="logo" src="/p/img/logo.svg" alt="{{config.CONFIG_DB.brand_name}}">
      <img class="cover" src="/p/img/cover.png" alt="{{config.CONFIG_DB.brand_name}}">
      <h1>{{config.CONFIG_DB.announcement_html|safe}}</h1>
    </div>
  </div>
# endblock

# block content

  # include 'about.html'
  # include 'member/member_bit.html'
  # include 'song/song_bit.html'
# endblock
